form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  gap: 30px; /* Defini espaço entre os elementos da <div> */
  padding-bottom: 30px; /* Defini espaço na parte inferior da <div> */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.849);
}

.container{
  padding: 0px;
}

.Cabecalho {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
}

#logo-finito-cabecalho {
    width: 80px;
    height: 75px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-ano {
  font-family: 'Rambla', sans-serif;
  padding: 5px 10px;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 5px;
  background-color: #FF8181;
  font-weight: bold;
}

option {
  font-family: 'Rambla', sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #FF8181;
  font-weight: bold;
}

#FINITO-TEXT {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-left: -10px;
}

#ANO-TEXT {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-left: 33%;
}

#USUARIO-TEXT {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-left: auto;
    padding: 15px;
}

#logo-principal {
    width: 900px;
    height: 800px;
}

.divider {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.image-container {
  position: relative; /* contêiner relativo */
  display: inline-block; /* ajusta ao tamanho da imagem */
}

.JANEIRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 37.5%;           /* centraliza verticalmente */
  left: 22.5%;          /* centraliza horizontalmente */
  background-color: #6B63FF;
}

.FEVEREIRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 37.5%;           /* centraliza verticalmente */
  left: 50.8%;          /* centraliza horizontalmente */
  background-color: #77A0FF;
}

.MARCO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 37.5%;           /* centraliza verticalmente */
  left: 78.5%;          /* centraliza horizontalmente */
  background-color: #8EC3FF;
}

.ABRIL {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 47.5%;          /* centraliza verticalmente */
  left: 22.5%;           /* centraliza horizontalmente */
  background-color: #A3E4FF;
}
.MAIO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 47.5%;           /* centraliza verticalmente */
  left: 50.8%;          /* centraliza horizontalmente */
  background-color: #B2FFFA;
}
.JUNHO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 47.5%;           /* centraliza verticalmente */
  left: 78.5%;          /* centraliza horizontalmente */
  background-color: #6BFFB8;
}
.JULHO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 57.5%;           /* centraliza verticalmente */
  left: 22.5%;           /* centraliza horizontalmente */
  background-color: #6BFF8E;
}
.AGOSTO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 57.5%;           /* centraliza verticalmente */
  left: 50.8%;          /* centraliza horizontalmente */
  background-color: #A3FF6B;
}
.SETEMBRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 57.5%;           /* centraliza verticalmente */
  left: 78.5%;          /* centraliza horizontalmente */
  background-color: #FFF76B;
}
.OUTUBRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 67.5%;           /* centraliza verticalmente */
  left: 22.5%;           /* centraliza horizontalmente */
  background-color: #FFC36B;
}
.NOVEMBRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 67.5%;           /* centraliza verticalmente */
  left: 50.8%;          /* centraliza horizontalmente */
  background-color: #FF8E6B;
}
.DEZEMBRO {
  position: absolute; /* posição absoluta dentro do contêiner */
  top: 67.5%;           /* centraliza verticalmente */
  left: 78.5%;          /* centraliza horizontalmente */
  background-color: #FF6B6B;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    font-size: 1,5rem;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 75px;

    &:hover {
        background-color: #FF5733;
        cursor: pointer;
    }
}
