.container-dash {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Faz a altura mínima ocupar a tela toda */
    min-height: 100vh;
    width: 100%;
    background:
        linear-gradient(180deg, #363467 0%, rgba(255, 255, 255, 0.774) 10%),
        /* Gradiente */
        url('assets/gif.gif');
    /* Imagem */
    background-size: cover;
    /* Faz a imagem cobrir todo o fundo */
    background-position: left;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */
}

.loading-container-dash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 51, 24, 0.89);
    /* fundo escuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* fica acima de tudo */
}

.Areadash1 {
    display: flex;
    justify-content: flex-start;
    /* Alinha horizontalmente à esquerda */
    align-items: flex-start;
    /* Alinha verticalmente no topo */
    gap: 0px;
}

.Areadash2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* um espaço leve entre os itens */
    white-space: nowrap;
    /* impede quebra de linha */
}

.Areadash2 h5 {
    margin: 0;
    /* remove margens padrão do h5 */
}

#logo-exit-dash {
    width: 80px;
    height: 55px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 0px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

#logo-finito-cabecalho-dash {
    width: 50px;
    height: 55px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#FINITO-TEXT-DASH {
    font-size: 49px;
    font-weight: bold;
    color: #000000;
    padding-top: 9px;
}

#ano-cabecalho {
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    font-size: 35px;
    color: darkgreen;
}

#USUARIO-TEXT2 {
    font-size: 2.7vw;
    font-weight: bold;
    color: #000000;
    padding-top: 9px;
}

#PERFIL-EMOGI2 {
    font-size: 2.8vw;
    padding-top: 0px;
}

#de-cabecalho {
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    font-size: 35px;
}

#seta {
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        color: chocolate;
    }
}





/* Variaveis de width: do Dashboard Geral */

:root {
    --largura-principal: 70vw;
}

/* Dashboard Pricipal */

.Caixa-dados {
    width: var(--largura-principal);
    height: 85vh;
    background-color: #0700ca;
}

h4 {
    text-align: center;
}

.Valores {
    justify-content: space-between;
    gap: 5%;
    display: flex;
    margin-top: 1vh;
    width: var(--largura-principal);
    height: 20vh;
    background-color: #cabc00;
    padding-left: 0;
    padding-right: 0;
}

.Imputs-Lancamentos {
    display: flex;
    margin-top: 1vh;
    width: var(--largura-principal);
    height: 62vh;
    background-color: #28ca00;
    gap: 1%;
}

#Resultados {
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding-left: 1%;
    padding-top: 1%;
    width: 20%;
    box-shadow: 3px 3px 10px 0px #000000;
    /* sombra preta */
}

#iconseta {
    width: 2.6vw;
    background-color: rgb(208, 252, 237);
    border-radius: 5px;
    padding: 1.5%;
}

#icons {
    width: 2.6vw;
    border-radius: 5px;
}

.Valores-nomes {
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
}

.Valores-numeros {
    font-size: 2.3vw;
    font-family: 'Jersey 10', sans-serif;
}

#Valor-receitas {
    color: #28ca00;
}

#Valor-depesas {
    color: crimson;
}

#Valor-media {
    color: darkorange;
}

#Valor-atual {
    color: dodgerblue;
}

/* Tela de Inputs */

.Inputs {
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
}

#Novo-lancamento {
    margin-left: 3px;
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 3%;
}

.Tipo-status-div {
    padding: 0%;
    gap: 5px;
    display: flex;
    padding-left: 2.5%;
    justify-content: baseline;
}

#Descricao-text-inputs {
    font-size: 1.3vw;
    font-family: inherit;
    color: rgb(49, 49, 49);
    font-weight: bold;
    padding-left: 3%;
}


#Tipo-status-select {
    width: 9.5vw;
    border-radius: 10px;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: unset;
}

#Tipo-status-options-receita {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
    color: #23af00;
}

#Tipo-status-options-despesa {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
    color: #ff0000;
}

#Tipo-status-options {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}

.Bloquinho-input-descricao {
    padding-top: 1.5vh;
}

#Descricao-input {
    font-size: 1.35vw;
    width: 19.5vw;
    height: 5vh;
}

#input-valor {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.5vw;
    color: rgb(48, 48, 48);
    width: 7.5vw;
}

#data {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.6vw;
    color: rgb(48, 48, 48);
    cursor: pointer;
}

#Tipo-status-select-categoria {
    width: 16.5vw;
    border-radius: 10px;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: unset;
}

.div-botao-cadastro {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Botao-cadastra-lancamento {
    border-radius: 7px;
    background-color: #5300C8;
    border: 1px solid #5300C8;
    color: white;
    cursor: pointer;
    font-size: 4vh;
    cursor: pointer;
    width: 11vw;
    height: 6vh;
    box-shadow: 2px 2px 5px #494949;

}

& #Botao-cadastra-lancamento:hover {
    background-color: #4e00bb;
    width: 11.5vw;
    height: 6.5vh;
    font-size: 4.3vh;
}

.Lancamentos-grafico-IA {
    width: 70%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 3px 3px 10px 0px #000000;
}

.cabecalho-lancamentos {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.caixa-filtro-busca {
    display: flex;
    align-items: center;
}

#Lancamentos {
    margin-left: 3px;
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 5%;
}

#botao-dashboard {
    width: 8vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 0.7vh;

    &:hover {
        background-color: rgb(143, 0, 245);
    }
}

#filtro-img {
    width: 2vw;
    height: 4.5vh;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 18vw;
    padding-top: 1vh;
    padding-right: 1vw;
}

.search-box input {
    width: 100%;
    height: 5.5vh;
    padding: 8px 8px 8px 32px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-box .icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover {
        width: 18px;
        height: 18px;
    }
}

.Indicador-nomes-lancamentos {
    align-items: center;
    margin-top: 1vh;
    justify-content: space-between;
    display: flex;
    gap: 0%;
    background-color: #c2c2c2;
}

#Indicador {
    font-size: 1.2vw;
    width: 9vw;
    text-align: center;
}

#Indicador-edita {
    font-size: 1.3vw;
    width: 5vw;
    text-align: center;
}

.edita-lancamento{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#edita-img {
    padding-top: 5%;
    width: 1.6vw;
    cursor: pointer;
}

#exclui-img{
    padding-top: 5%;
    width: 1.5vw;
    cursor: pointer;
}

.Grupo-de-Lancamentos {
    height: 55.5vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    overflow-y: auto;    /* rolagem vertical */
    overflow-x: hidden;  /* esconde rolagem horizontal */
}

.lancamento-block{
    margin-top: 2.5%;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 7px;
    padding: 0%;
}

.descricao-lancamento-block{
    padding-left: 0.3vw;
}

.descricao-edit-exclui{
    justify-content: space-between;
    display: flex;
    padding-right: 1vw;
  
}
#descricao-lancamento{
    padding-left: 1vh;
    border: 1px solid black;
    width: 35vw;
    height: 4.5vh;
    border-radius: 5px;
    font-size: 1.3vw;
    overflow-x: auto;
}
#descricao-lancamento-label{
    font-size: 1.6vw;
    font-family: 'Jersey 10', sans-serif;
}

.tipo-valor-vencimento-etc{
    justify-content: space-between;
    display: flex;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5vh;
    padding-top: 1%;
}

.Tipo-lancamento-block{
    text-align: center;
}

#Div-tipo-lancamento{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    gap: 0px;
}

#Iconseta-tipo{
    width: 2.6vw;
    height: 3.6vh;
    border-radius: 5px;
    padding-top: 3%;
    padding-left: 1.5vh;
}

#Tipo-lancamento{
    padding-top: 2%;
    width: 6vw;
    height: 4.5vh;
    font-size: 1.3vw;
}

#Valor-lancamento{
    color: #ff0000;
    padding-top: 3%;
    width: 7vw;
    border-radius: 5px;
    font-size: 1.7vw;
    font-family: 'Jersey 10', sans-serif;
}

#Vencimento-lancamento{
    padding-top: 6%;
    font-size: 1.5vw;
    font-family: 'Jersey 10', sans-serif;
}

#Status-select-lancamento{
    border: 1px solid rgb(126, 126, 126);
    background-color: #ffffff00;
    border-radius: 10px;
    width: 8vw;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Categoria-lancamento{
    padding-top: 1vh;
    font-size: 1.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}