.container-dash {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Faz a altura mínima ocupar a tela toda */
    min-height: 100vh;
    width: 100%;
    background:
        linear-gradient(180deg, #363467 0%, rgba(255, 255, 255, 0.774) 10%),
        /* Gradiente */
        url('assets/gif.gif');
    /* Imagem */
    background-size: cover;
    /* Faz a imagem cobrir todo o fundo */
    background-position: left;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */
}

.loading-container-dash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 51, 24, 0.89);
    /* fundo escuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* fica acima de tudo */
}

.Areadash1 {
    display: flex;
    justify-content: flex-start;
    /* Alinha horizontalmente à esquerda */
    align-items: flex-start;
    /* Alinha verticalmente no topo */
    gap: 0px;
}

.Areadash2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* um espaço leve entre os itens */
    white-space: nowrap;
    /* impede quebra de linha */
}

.Areadash2 h5 {
    margin: 0;
    /* remove margens padrão do h5 */
}

#logo-exit-dash {
    font-family: 'Jersey 20', sans-serif;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 1.5vh;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        color: chocolate;
    }
}

#logo-finito-cabecalho-dash {
    width: 5vw;
    height: 8vh;
    margin-left: 0.42vw;
    margin-top: 2vh;
    margin-bottom: 0.93vh;
}

#FINITO-TEXT-DASH {
    font-size: 4vw;
    color: #000000;
    padding-top: 2vh;
    font-weight: lighter;
    font-family: 'Jersey 20', sans-serif;
}

#ano-cabecalho {
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    font-size: 35px;
    color: darkgreen;
}

#USUARIO-TEXT2 {
    font-family: 'Jersey 10', sans-serif;
    font-size: 3.5vw;
    font-weight: lighter;
    color: #000000;

}

#PERFIL-EMOGI2 {
    font-size: 2.8vw;
    padding-top: 0px;
}

#de-cabecalho {
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    font-size: 35px;
}

#seta {
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        color: chocolate;
    }
}





/* Variaveis de width: do Dashboard Geral */

:root {
    --largura-principal: 70vw;
}

/* Dashboard Pricipal */

.Caixa-dados {
    width: var(--largura-principal);
    height: 85vh;
    
}

h4 {
    text-align: center;
}

.Valores {
    justify-content: space-between;
    gap: 5%;
    display: flex;
    margin-top: 1vh;
    width: var(--largura-principal);
    height: 20vh;
    padding-left: 0;
    padding-right: 0;
}

.Imputs-Lancamentos {
    display: flex;
    margin-top: 1vh;
    width: var(--largura-principal);
    height: 62vh;
    gap: 1%;
}

#Resultados {
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding-left: 1%;
    padding-top: 1%;
    width: 20%;
    box-shadow: 3px 3px 6px 0px #000000;
    /* sombra preta */
}

#iconseta {
    width: 2.6vw;
    background-color: rgb(208, 252, 237);
    border-radius: 5px;
    padding: 1.5%;
}

#icons {
    width: 2.6vw;
    border-radius: 5px;
}

.Valores-nomes {
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
}

.Valores-numeros {
    font-size: 2.3vw;
    font-family: 'Jersey 10', sans-serif;
}

#Valor-receitas {
    color: #28ca00;
}

#Valor-depesas {
    color: crimson;
}

#Valor-media {
    color: darkorange;
}

#Valor-atual {
    color: dodgerblue;
}

/* Tela de Inputs */

.Inputs {
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
}

#Novo-lancamento {
    margin-left: 3px;
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 3%;
}

.Tipo-status-div {
    padding: 0%;
    gap: 5px;
    display: flex;
    padding-left: 2.5%;
    justify-content: baseline;
}

#Categoria-input{
    margin-top: -3vh;
}

#Descricao-text-inputs {
    font-size: 1.7vw;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(49, 49, 49);
    padding-left: 2%;
}


#Tipo-status-select {
    width: 9.5vw;
    border-radius: 10px;
    font-size: 1.5vw;
    cursor: pointer;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: none;
    color: #616161;
    height: 6.5vh;
}

#Tipo-status-options-receita {
    font-family: 'Jersey 10', sans-serif;
    background-color: #ffffff;
    color: #23af00;
}

#Tipo-status-options-despesa {
    font-family: 'Jersey 10', sans-serif;
    background-color: #ffffff;
    color: #ff0000;
}

#status-options-pen {
    color: #ff0000;
    font-family: 'Jersey 10', sans-serif;
    background-color: #ffffff;
}

#status-options-pag {
    color: #23af00;
    font-family: 'Jersey 10', sans-serif;
    background-color: #ffffff;
}

.Bloquinho-input-descricao {
    padding-top: 0vh;
}

#Descricao-input {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.5vw;
    width: 19vw;
    height: 5vh;
}

#input-valor {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.5vw;
    color: rgb(48, 48, 48);
    width: 7.5vw;
    height: 5.5vh;
}

#data {
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.6vw;
    color: rgb(48, 48, 48);
    cursor: pointer;
    width: 11.3vw;
    height: 5.5vh;
}

#Tipo-status-select-categoria-input {
    width: 19vw;
    height: 6.5vh;
    border-radius: 10px;
    font-size: 1.7vw;
    cursor: pointer;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: none;
    border-radius: 10px;
    color: #000000;
    padding: 0px;
    text-align: center;
    padding-right: 4vw;
}

#Tipo-status-select-categoria {
    width: 15vw;
    height: 6.5vh;
    border-radius: 10px;
    font-size: 1.3vw;
    cursor: pointer;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: none;
    border-radius: 10px;
    color: #000000;
    padding: 0px;
    text-align: center;
    padding-right: 3vw;
}

.div-botao-cadastro {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#Botao-cadastra-lancamento {
    border-radius: 7px;
    background-color: #5300C8;
    border: 1px solid #5300C8;
    color: white;
    cursor: pointer;
    font-size: 4vh;
    cursor: pointer;
    width: 11vw;
    height: 6vh;
    box-shadow: 2px 2px 5px #494949;

}

& #Botao-cadastra-lancamento:hover {
    background-color: #4e00bb;
    width: 11.5vw;
    height: 6.5vh;
    font-size: 4.3vh;
}

.Lancamentos-grafico-IA {
    width: 70%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 3px 3px 10px 0px #000000;
}

.cabecalho-lancamentos {
    justify-content: space-between;
    display: flex;
    border-radius: 7px;
    align-items: center;
    background-color: #f1f1f1;
}

.caixa-filtro-busca {
    display: flex;
    align-items: center;
}

#Lancamentos {
    margin-left: 3px;
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 5%;
}

#botao-dashboard {
    width: 8vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 1.1vw;
    cursor: pointer;
    margin-top: 0.7vh;
    background-color: rgb(245, 0, 0);
    color: #ffffff;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

#botao-replica {
    width: 7.5vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 1.4vw;
    cursor: pointer;
    margin-top: 0.7vh;
    background-color: rgb(143, 0, 245);
    color: #ffffff;
    font-family: 'Jersey 20', sans-serif;
    border: 1px solid rgb(255, 255, 255);
    
    &:hover {
        background-color: rgba(143, 0, 245, 0.651);
    }
}

#filtro-img {
    width: 2vw;
    height: 4.5vh;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 18vw;
    padding-top: 1vh;
    padding-right: 1vw;
}

.search-box input {
    width: 15.5vw;
    height: 5.5vh;
    padding: 8px 8px 8px 32px;
    font-size: 1.7vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Jersey 10', sans-serif;
}

.search-box .icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover {
        width: 18px;
        height: 18px;
    }
}

.Indicador-nomes-lancamentos {
    align-items: center;
    margin-top: 1vh;
    justify-content: space-between;
    display: flex;
    gap: 0%;
    background-color: #c2c2c2;
}

#Indicador {
    font-size: 1.2vw;
    width: 9vw;
    text-align: center;
}

#Indicador-edita {
    font-size: 1.3vw;
    width: 5vw;
    text-align: center;
}

.edita-lancamento {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#edita-img {
    padding-top: 5%;
    width: 1.7vw;
    cursor: pointer;
   
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        color: chocolate;
    }
}

#exclui-img {
    padding-top: 5%;
    width: 1.5vw;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        color: chocolate;
    }
}

.Grupo-de-Lancamentos {
    height: 55.5vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

.lancamento-block {
    margin-top: 2.5%;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 7px;
    background-color: #ffffff;
    padding: 0%;
}

.descricao-lancamento-block {
    padding-left: 0.3vw;
}

.descricao-edit-exclui {
    justify-content: space-between;
    display: flex;
    padding-right: 1vw;
    gap: 1%;

}

#descricao-lancamento {
    padding-left: 1vh;
    padding-top: 0vh;
    border: 1px solid rgb(161, 161, 161);
    width: 33vw;
    height: 4.5vh;
    border-radius: 5px;
    font-size: 1.7vw;
    font-family: 'Jersey 20', sans-serif;
    overflow-x: auto;
    color: #272727;
}

#descricao-lancamento-label {
    font-size: 1.5vw;
    font-family: 'Jersey 20', sans-serif;
    color: #727272;
}

.tipo-valor-vencimento-etc {
    justify-content: space-between;
    display: flex;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5vh;
    padding-top: 1%;
}

.Tipo-lancamento-block {
    text-align: center;
}

#Div-tipo-lancamento {
    display: flex;
    border-radius: 10px;
    gap: 0px;
    align-items: center;
    padding-left: 3%;
}

#Iconseta-tipo {
    background-color: #ffffff;
    width: 2.1vw;
    height: 3.6vh;
    border-radius: 10px;
    padding: 3%;
}

#Tipo-lancamento {
    padding-top: 2%;
    width: 6vw;
    height: 4.5vh;
    font-size: 1.3vw;
    color: #ffffff;
    font-size: 1.7vw;
    font-family: 'Jersey 10', sans-serif;
}

#Valor-lancamento {
    color: #008d2a;
    padding-top: 3%;
    width: 7vw;
    border-radius: 5px;
    font-size: 2vw;
    font-family: 'Jersey 10', sans-serif;
}

#Vencimento-lancamento {
    padding-top: 2%;
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
}

#Status-select-lancamento {
    border: 1px solid rgb(187, 186, 186);
    border-radius: 10px;
    width: 8.5vw;
    font-size: 1.4vw;
    cursor: pointer;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: none;
    height: 5vh;
    padding: 0px;
    padding-left: 1vw;
}

#Categoria-lancamento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 1.4vw;
    font-family: 'Jersey 10', sans-serif;
    color: #004196;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    padding: 0 8px;
}

.Categoria-lancamento{
    text-align: center;
}

.overlay {
  position: fixed;
  inset: 0;                 /* top/right/bottom/left: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(36, 36, 36, 0.089);
  z-index: 9999;
}

.modal {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-width: 300px;
  text-align: left;
}

.modal-edita {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-width: 300px;
  text-align: left;
}

.cabecalho-edita{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}

#Edita-label{
    font-size: 3vw;
    font-family: 'Jersey 10', sans-serif;
}

#edita-img-edita{
    width: 5vw;
}

.Bloquinho-edita-descricao{
    text-align: start;
    padding-bottom: 2%;
}

#Edita-descricao{
    color: #727272;
    padding-right: 59%;
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
}

#Edita-input-descricao{
    font-size: 1.8vw;
    font-weight: lighter;
    width: 100%;
    font-family: 'Jersey 10', sans-serif;
}


#Tipo-data-edita{
    display: flex;
    justify-content: space-between;
}

#Label-tipo{
    color: #727272;
    padding-left: 0.5vw;
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
}

#Label-data{
    color: #727272;
    padding-left: 0.5vw;
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
    padding-left: 11vw;
}

#Label-categoria{
    color: #727272;
    padding-left: 0.5vw;
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
    padding-left: 8.4vw;
}

.Tipo-edita{
    border-radius: 7px;
    font-family: 'Jersey 10', sans-serif;
    width: 12vw;
    cursor: pointer;
    text-shadow: none;
    font-size: 1.8vw;
}

#opção-edita{
    background-color: #c2c2c2;
    font-family: 'Jersey 10', sans-serif;
}

#data-edita{
    font-family: 'Jersey 10', sans-serif;
    width: 13vw;
    cursor: pointer;
    font-size: 1.8vw;
}

#Input-valor{
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.9vw;
    width: 10vw;
    color: rgb(238, 127, 0);
    height: 6vh;
}

#Valor-categoria{
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.Botoes{
    display: flex;
    padding-top: 2%;
    text-align: center;
    justify-content: center;
}

#Botao-atualizar-editar{
    cursor: pointer;
    border-radius: 7px;
    background-color: #5300c8a9;
    color: #ffffff;
    width: 14vw;
    height: 5.5vh;
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.9vw;
    border: 1px solid rgb(255, 255, 255);
    &:hover{
        background-color: #5300C8;
    }
}

#Fechar-editar{
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    width: 6vw;
    height: 5.5vh;
    font-size: 1.3vw;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    &:hover{
        background-color: rgba(0, 0, 0, 0.527);
    }
}

.Botoes-exclui{
    text-align: center;
}

#Botao-excluir-sim{
    cursor: pointer;
    border-radius: 7px;
    background-color: #5300c8a9;
    color: #ffffff;
    width: 10vw;
    height: 5.5vh;
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.6vw;
    border: 1px solid rgb(255, 255, 255);
    &:hover{
        background-color: #c82f00;
    }
}

#Botao-excluir-nao{
    cursor: pointer;
    border-radius: 7px;
    background-color: #5300c8a9;
    color: #ffffff;
    width: 10vw;
    height: 5.5vh;
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.6vw;
    border: 1px solid rgb(255, 255, 255);
    &:hover{
        background-color: #00c821;
    }
}

#Descricao-exclui{
    font-size: 1.9vw;
    font-family: 'Jersey 10', sans-serif;
}

#Descricao-id-exclui{
    font-family: 'Jersey 10', sans-serif;
    color: #ff7300;
    font-weight: lighter;
}

#Excui-label{
    font-size: 3vw;
    font-family: 'Jersey 10', sans-serif;
    color: #616161;
}

.overlayExclui {
  position: fixed;
  inset: 0;                 /* top/right/bottom/left: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(36, 36, 36, 0.548);
  z-index: 9999;
}

.modalExclui {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-width: 300px;
  text-align: left;
}

#Select-replica-ano-mes{
    width: 9vw;
    font-family: 'Jersey 20', sans-serif;
    font-weight: lighter;
    text-shadow: none;
    font-size: 1.3vw;
    border-radius: 7px;
    cursor: pointer;
}

.Botoes-replica{
    padding-top: 2%;
    text-align: center;
    gap: 10%;
}

.div-checkbox{
    margin-left: 8.5vw;
    width: 11vw;
    height: 6vh;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    display: flex;
    margin-top: 2%;
    gap: 5px;
    cursor: pointer;
}

#caixa-check{
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;

    &:hover{
        border: 2px solid #000000;
    }
}

.overlayPDF {
  position: fixed;
  inset: 0;                 /* top/right/bottom/left: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(36, 36, 36, 0.72);
  z-index: 9999;
}

.modalPDF {
    align-items: center;
    text-align: center;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  text-align: right;
}

#fechar{
    align-items: center;
    text-align: center;
    font-size: 2vw;
    border-radius:7px;
    width: 3vw;
    height: 3vw;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 1);
    color: #ffffff;
    cursor: pointer;
    border: none;

    &:hover{
        background-color: rgba(255, 0, 0, 0.651);
    }
}

#Descricao-PDF{
    text-align: center;
    font-size: 2.8vw;
    font-family: 'Jersey 10', sans-serif;
}

#mensagem{
    font-size: 2.2vw;
    font-weight: lighter;
    width: 100%;
    height: 20vh;
    font-family: 'Jersey 20', sans-serif;
    margin-top: -1%;
}
.Botoes-PDF{
    font-size: 2.5vw;
    display: flex;
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    gap: 5%;
}

#Botao-PDF-sim{
    cursor: pointer;
    border-radius: 7px;
    background-color: #5300c8a9;
    color: #ffffff;
    width: 10vw;
    height: 6vh;
    font-family: 'Jersey 20', sans-serif;
    font-size: 2.5vw;
    border: 1px solid rgb(255, 255, 255);
    &:hover{
        background-color: #4e00bb;
    }
}

#Botao-PDF-nao{
    cursor: pointer;
    border-radius: 7px;
    background-color: #c80000a9;
    color: #ffffff;
    width: 18vw;
    height: 6vh;
    font-family: 'Jersey 20', sans-serif;
    font-size: 2.5vw;
    border: 1px solid rgb(255, 255, 255);
    &:hover{
        background-color: #000000ff;
    }
}

#recorrente{
    text-align: center;
    align-items: center;
    font-size: 1.8vw;
    font-family: 'Jersey 10', sans-serif;
    color: #ffffff;
    background-color: #0015d1;
    height: 5vh;
    width: 10vh;
    border-radius: 20%;
    margin-top: 3%;
    padding-top: 0.3vh;
    cursor: text;
}

#exclui{
    text-align: center;
    align-items: center;
    padding-top: 1%;
    font-size: 1.5vw;
    font-family: 'Jersey 20', sans-serif;
    color: #ff0000;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

#caixa-check-exclui{
    width: 2vw;
    height: 2vw;
    cursor: pointer;

    &:hover{
        border: 2px solid #000000;
    }
}

.todos{
    display: flex;
    justify-content: center;
}

/* Container */
.switch {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Faixa de fundo */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
  border-radius: 34px;
}

/* Bolinha */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Quando marcado (checked) */
.switch input:checked + .slider {
  background-color: rgb(60, 0, 201); /* cor ativa */
}

.switch input:checked + .slider:before {
  transform: translateX(17px); /* move a bolinha */
}

.containerr {
  display: flex;
  justify-content: flex-end; /* joga para a direita */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 6%;
  gap: 1%;
}

#Texto-checkbox{
    font-family: 'Jersey 10', sans-serif;
    font-size: 1.6VW;
    color: #000000;
    cursor: pointer;
}

#descricao-lancamento-replica {
    padding-top: 0vh;
    font-size: 1.7vw;
    font-family: 'Jersey 20', sans-serif;
    color: #272727;
}

.linha-horizontal-replica{
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #72727273;
    background-color: #ffffff;
    padding: 1%;
    text-align: start;
    align-items: start;
    margin-top: 1%;
    margin-bottom: 1.3%;
}

.selecao-horizontal-replica{
    display: flex;
    justify-content: start;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#text-replica{
    font-size: 1.6vw;
    font-family: 'Jersey 20', sans-serif;
    color: #000000;
}

.listagem-replica{
    overflow: 'scroll';
    height: 40vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 7px;
    background-color: #eeeeee;
}

.cabecalho-replica{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info-replica{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Replica-label{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-family: 'Jersey 20', sans-serif;
    color: #1500d1;
    padding-left: 1vw;
    padding-top: 0.5vh;
}

#Descricao-replica{
    font-size: 1.7vw;
    font-family: 'Jersey 10', sans-serif;
    color: #4b4b4b;
    padding-top: 1vh;
}

#ano-base-replica{
    font-size: 1.6vw;
    font-family: 'Jersey 20', sans-serif;
    text-shadow: none;
    color: #5f33ff;
    font-weight: lighter;
}

