.container-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    min-height: 100vh;
}

.Form {
    display: flex;
    width: auto;
    height: 580px;
    background-color: aliceblue;
}
.div-boas-vindas{
    text-align: center;
    padding-top: 25%;
    padding: 0 30px;
    background-color: #197E31;
    color: white;
    width: 500px;
}

#Bem-vindos{
    margin-top: 50%;
    font-family: 'Jersey 15', sans-serif;
}
#palavras-boas{
    font-family: 'Pixelify Sans', monospace;
    font-weight: lighter;
    font-size: 19px;
}

.div-inputs{
    align-items: center;
    padding-top: 25%;
    padding: 0 30px;
}

.Logo-Text-Finito{
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    margin-top: 2%;
    padding: 0 30px;
    width: 450px;
}

#Logo{
    width: 80px;
    height: 80px;
    margin-bottom: 3px;
}

#Text-finito{
    font-family: 'Jersey 10', sans-serif;
    font-weight: lighter;
    font-size: 7vw;
}

.titulo{
    margin-top: 0%;
    font-family: 'Jersey 10', sans-serif;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    font-size: 3.5vw;
}

.inputs{
    display: flex;
    flex-direction: column;
}

#descricao{
    font-family: 'Jersey 10', sans-serif;
    font-weight: lighter;
    margin-bottom: -3%;
    margin-left: 1%;
    color: rgb(41, 41, 41);
}

input{
    font-family: 'Jersey 20', sans-serif;
    font-weight: lighter;
    width: 95%;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    &:focus {
    outline: none;
    border-color: #197E31;
  }
}

.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.rounded-lg{
    border-radius: 10px;
    width: 60%;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

option{
    background-color: #ffffff;
}

#Cadastrar-button{
    font-family: 'Pixelify Sans', monospace;
    width: 200px;
    height: 50px;
    background-color: #197E31;
    color: white;
    font-size: 2.5vw;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1%;

    &:hover {
        background-color: #fc7100;
    }
}

select {
  appearance: none;        /* remove a seta padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 30px 8px 10px; /* espaço para a seta personalizada */
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: white;
  background-image: url('../../assets/seta-baixo.png'); /* sua seta personalizada */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14% 65%; /* tamanho da seta */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
  &:hover {

        background-size: 14% 66%; /* tamanho da seta */
    }

  &:focus {
    outline: none;
    border-color: #197E31;
  }
}

.linha-horizontal-final{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 19px;
    background-color: #ffffff;
    margin-top: 3%;
    margin-left: 9%;
}

.texto-login{
    font-family: 'Jersey 10', sans-serif;
    font-weight: lighter;
    font-size: 1.9vw;
    color: rgb(49, 49, 49);
    padding-left: 20px;
}

#Logar{
    width: 150px;
    height: 35px;
    background-color: #535353c9;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;

    &:hover {
        background-color: #00720f;
    }
}

.loading-containerr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945); /* fundo escuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* fica acima de tudo */
}

#saindo{
    width: 30vw;
}

#cadastrando{
    width: 40vw
}

.typng{
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 0px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.typn{
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.dotes::after {
    content: "";
    display: inline-block;
    animation: dotes 3s steps(3, end) infinite;
}

.doteSave::after {
    font-family: 'jersey 10', sans-serif;
    font-weight: lighter;
  content: "";
  display: inline-block;
  animation: doteSave 2s steps(3, end) infinite;
}

@keyframes typng {
  from { width: 0; }
  to { width: 8ch; } /* "Entrando" = 8 caracteres */
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes dotes {
    0%   { content: ""; }
    9%   { content: "S"; }
    18%  { content: "Sa"; }
    27%  { content: "Sai"; }
    36%  { content: "Sair"; }
    45%  { content: "Saind"; }
    54%  { content: "Saindo"; }
    63%  { content: "Saindo."; }
    72%  { content: "Saindo.."; }
    81%  { content: "Saindo..."; }
    90%  { content: "Saindo..."; }
    100% { content: "Saindo..."; }
}

@keyframes doteSave {
    0%   { content: ""; }
    9%   { content: "C"; }
    18%  { content: "Ca"; }
    27%  { content: "Cad"; }
    36%  { content: "Cada"; }
    45%  { content: "Cadas"; }
    54%  { content: "Cadast"; }
    63%  { content: "Cadastran"; }
    72%  { content: "Cadastrando"; }
    81%  { content: "Cadastrando."; }
    90%  { content: "Cadastrando.."; }
    100% { content: "Cadastrando..."; }
}